.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contain {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #f8fafc;
  color: #303150;
  padding: 15px;
  border-width: 0px;
  border-radius: 10px;
  cursor: pointer;
}
